/* === typography === */ 
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--black);
} 

input {
    color: var(--black);

}

p {
  margin-bottom: 1rem;
  /* color: var(--black); */
}

body {
  /* height: 100vh; */
  background-color: var(--metal);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  width: 50%;
  min-height: 100px;
  padding: 10px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid var(--grey);
  background-color: var(--white);
  color: var(--metal);
  resize: vertical; 
}

textarea:focus {
  outline: none;
  border-color: var(--blue);
}

textarea::placeholder {
  color: var(--grey);
}

/* === Color Palette === */

:root {
  --white: #F8F9FA;
  --metal: #2E2E2E;
  --blue: #17A2B8;
  --black: #000000;
  --grey: #93989F;
}


/* === Common Button Style Section === */
/* #button */
.call-to-action-button, .reset-search-button, .search-button, .add-comment, .open-modal-button, .login-button-login-page, .sign-up-button, .add-comment-button, .modal-submit-button {
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 0.625rem 1.25rem; 
    border-radius: 0.3125rem; 
    text-align: center;
    text-decoration: none;
    font-size: 1rem; 
    cursor: pointer;
    font-weight: 600;
    line-height: 1.5;
}

.reset-search-button {
  margin-bottom:2rem;
}

/* #button hover */
.call-to-action-button:hover, .post-comment-like-button:hover, .add-comment:hover, .login-button-login-page:hover, .sign-up-button:hover, .add-comment-button:hover, .open-modal-button:hover, .modal-submit-button:hover {
    background-color: var(--metal);
    color: var(--white);
    outline: 1px solid var(--blue);
}

.call-to-action-button:active {
    background-color: var(--grey);
    color: var(--white);
    border: 1px solid var(--metal);
}

/*  === Game Categories ===*/

.game-categories-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game-categories-container h1 {
  color: var(--blue);
  text-decoration: underline;
}

/* === Posts section === */

.post-mapping-section-container {
  position: relative;
  height: auto;
  border: 0.125rem solid var(--grey);
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.15);
  background-color: #414141;
  padding: 0.8rem;
  margin: 1rem 0rem;
  border-radius: 0.2rem;
}

.post-mapping-image-section {
  display: flex;
  align-items: center;
}

.post-mapping-image-section img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
}

.like-button-section {
  display: flex;
  height: 3rem;
  width: 10rem;
  margin-bottom: 2rem;
}

.like-button-section p {
  margin-left: 1rem;
  position: relative;
  top: .8rem;
  right: 1rem;
}

.accordion-container {
  cursor: pointer;
  background-color: var(--metal);
  color: var(--white);
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  width: max-content;
  align-self: center;
}

.accordion-container.open {
  border-bottom: none;
}

.accordion-container.closed {
  border-bottom: 1px solid var(--grey);
}

.accordion-comment-section-container {
  padding: 1rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid red;
}

.accordion-comment-section {
  position: relative;
  height: auto;
  border: 0.125rem solid var(--grey);
  width: 100%;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.15); 
  background-color: #414141;
  padding: 0.8rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
}

.accordion-comment-section img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.accordion-comment-like-section {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 10rem;
  /* border: 2px solid blue; */
}

.accordion-comment-like-section p {
  position: relative;
  margin-left: 1rem;
  padding-left: .25rem;
  top: .8rem;
  right: 1rem;
}

.modal-section input {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0rem;
  border: 1px solid var(--grey);
  border-radius: .5rem;
}

.modal-section textarea {
  width: 100%;
  min-height: 6.25rem;
  padding: 1rem;
  margin: 1rem 0rem;
  border: 1px solid var(--grey);
  border-radius: .4rem;
  resize: vertical;
}

.open-modal-button {
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 0.625rem 1.25rem; 
  border-radius: 0.3125rem; 
  text-align: center;
  text-decoration: none;
  font-size: 1rem; 
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
  margin: 1rem 2rem;
}

.post-comment-like-button {
  display: inline-block;
  position: relative;
  top:.5rem;
  right:.5rem;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 0.3125rem; 
  text-align: center;
  text-decoration: none;
  font-size: 1rem; 
  cursor: pointer;
  font-weight: 600;
  line-height: 1;
  height: 2rem;
  margin-left: 1rem;
}

.post-mapping-section h3 {
  margin-bottom: 10px;
}

.post-mapping-section button {
  display: block;
  margin-top: 10px;
}




/* === Game Details Page === */
.games-details-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-details-game-description {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.game-details-game-title-and-image {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.game-details-game-title-and-image h1 {
  color: var(--white);
  text-align: center;
}

.game-details-game-details {
  text-align: center;
  padding: 2rem;
  width: 30%;
  border: 0.125rem solid #93989F;
  min-width: 20rem;
  max-width: 20rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.3);
  background-color: #404040;
  position: relative;
  height: auto;
}

.game-details-game-details p {
  color: var(--white);
}

.game-details-game-details a {
  color: var(--blue);
}

.game-details-categories-selection {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 5rem;
  padding-top: 2rem;
}






/* === Home Page === */

.call-to-action-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  color: black;
}

.call-to-action-button {
  color: black;
}

.homepage-introduction-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.homepage-introduction-section h1 {
  font-size: 3.5rem;
  color: var(--white);
}

.homepage-introduction-section p:nth-of-type(1) {
  font-size: 1.5rem;
  color: var(--grey);
}

.homepage-introduction-section p:nth-of-type(2) {
  width: 30rem;
  color: var(--blue);
  font-size: 1.2rem;
}









/* === Header Section === */

header {
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}

.nav-link {
  position: relative;
  font-weight: 600;
  color: white;
}

.nav-link:hover {
  color: white;
}

.login-button {
  color: white;
}

.login-button:hover {
  color: var(--blue);
}

.login-button:focus {
  color: white;
}

.login-button:visited {
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%; 
  height: 2px;
  color: var(--blue);
  background: var(--blue); 
  transition: right 0.3s ease-in; 
}

.nav-link:hover::after {
  right: 0; 
  color: white
}

@media (max-width: 810px) {
  .header-links {
    font-size:.82rem;
    position: relative;
    top:.1rem;
  }
}

@media (max-width: 767.5px) {
  .profile-pic {
    display: none;
  }
  .nav-link {
    font-size: 2rem;
  }
  .navbar-collapse {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}





/* === Login Page === */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--metal);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 var(--grey);
  width: 30%;
  margin: auto;
  padding: 2em;
}

.login-header {
  color: var(--blue);
  text-decoration: under;
}

.login-form .form-group label {
  color: white;
}

.login-form .form-control {
  border: 1px solid var(--blue);
  box-shadow: 0 0 10px 0 var(--grey);
}

.login-btn {
  background-color: var(--blue);
  color: var(--white);
}

.login-btn:hover {
  background-color: var(--grey);
  color: var(--black);
}







/* Signup page */

.sign-up-card-container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--grey);
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 var(--grey);
  width: 60%;
  margin: 0 auto;
}

.sign-up-card-container h1 {
  width: 100%;
  color: var(--blue);
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.sign-up-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: var(--metal);
  margin-bottom: 20px;
}
.sign-up-card-container form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: var(--blue);
  font-weight: bold;
}

.form-control {
  padding: 10px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

.form-control:focus {
  border-color: var(--blue);
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.signupPrimaryButton {
  background-color: var(--blue);
  color: var(--white);
  border: none;
}

.alert.signupAlertSuccess {
  margin-top: 10px;
  background-color: #d4edda;
  color: #155724;
}

.alert.signupAlertFail {
  margin-top: 10px;
  background-color: #f8d7da;
  color: #721c24;
}

.quick-sign-up-info {
  width: 35%;
  color: var(--grey);
  font-size: 1.1em;
  align-self: flex-start;
  margin-top:1rem;
  border: 2px solid var(--blue);
}

.quick-sign-up-info p {
  text-align: center;
}

.info-group {
  margin: 0;
  padding: 0;
}

.info-title {
  margin-bottom: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

.info-item {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  margin: 0;
  margin-bottom: 2px;
  font-weight: bold;
}

.example {
  margin: 0;
}




/* Featured Games Carousel */


.featured-games-card-container, .articles-card-container {
  display: flex;
  justify-content: space-between;
}
/* #card */
.featured-games-card, .articles-card {
  position: relative;
  height: auto;
  border: 0.125rem solid var(--grey);
  min-width: 20rem;
  max-width: 20rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0,0,0,0.15);
  background-color: var(--metal);
}

.featured-games-card:hover, .articles-card:hover { 
    cursor: pointer
}

.featured-games-card {
  height: 22.5rem;
}

.articles-card-heading {
  padding-top: 1rem;
}

.featured-games-card-heading, .articles-card-heading {
  text-align: center;
  color: var(--blue);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.featured-games-carousel-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-games-carousel-image, .articles-card-image {
  width: 100%;
  object-fit: cover;
}

.featured-games-carousel-caption {
  position: unset;
  color: var(--black);
  background-color: var(--metal);
  padding: 1rem;
  text-align: center;
}

.articles-card-subheading {
  padding-top: 1rem;

}

.featured-games-carousel-caption h3, .articles-card-subheading {
  color: var(--blue);
  font-size: 1.25rem;
  text-align: center;
}

.featured-games-carousel-caption p, .articles-card-additional-text {
  color: var(--white);
  font-size: 1rem;
}

.articles-card-description {
  color: var(--white);
  font-size: 1rem;
  padding: 0rem 2rem;
  /* text-align: center; */
}

.articles-card-additional-text {
  font-style: 'italic'; 
  font-weight: bold;
  color: var(--blue);
  text-align: center;
  padding: 0rem 1rem;

}

.carousel {
  position: relative;
  height: 15rem;  
}

.carousel-caption p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}

.carousel-control-prev {
  right: 16rem;  
  top: -2rem;
  height: 2rem;
}

.carousel-control-next {
  left: 16rem; 
  top: -2rem;
}


.carousel-control-next-icon {
  background-image: url('../components/Assets/Images/rightArrow.png');
}

.carousel-control-prev-icon {
  background-image:  url('../components/Assets/Images/leftArrow.png');
}











/* Profile / Account */
:root {
  --white: #F8F9FA;
  --metal: #2E2E2E;
  --blue: #17A2B8;
  --black: #000000;
  --grey: #93989F;
}

.account-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--metal);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container, .profile-image-container {
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.account-form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 20px;
  border: 1px solid var(--grey);
  padding: 10px;
  border-radius: 5px;
}

.account-password-button, .update-profile-button, .remove-image-button {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.account-password-button:hover, .update-profile-button:hover, .remove-image-button:hover {
  background-color: var(--metal);
  color: var(--white);
  outline: 1px solid var(--blue);
}

.profile-img {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.file-input-label {
  display: block;
  margin-top: 20px;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}


/* Game Page */

.button-link {
  background: #17A2B8;
  color: #F8F9FA;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.075s ease;
}

.button-link:hover {
  background: #2E2E2E;
  color:var(--white);
  outline:1px solid var(--grey)
}







/* === Browse Section === */

.browse-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* margin-top: 4rem; */
  margin-bottom: 2rem;
  padding: 2rem;
  border: 0.125rem solid var(--blue);
  box-shadow: 0 0 0.2rem 0.1rem var(--grey);
  width: 50%;
}


.browse-container h2 {
  color: white;
}

.browse-search-bar {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.tailor-your-exploration-container h3 {
  text-align: center;
  color: white;
}

.tailor-your-exploration-section h2 {
  text-align: center;
  margin-top: 3rem;
  color: white;
}

.display-games-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  gap: 1rem;
}

.individual-game-link {
  position: relative;
  margin: 0 auto;
  border: 0.125rem solid grey;
  box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0,0,0,0.15);
  background-color: steelblue;
  padding: 1rem;
  max-width: 30rem;
  max-height: 30rem;
  height: 25rem;
  width: 20rem;
}

.individual-game-link:hover {
  cursor: pointer;
}

.checkbox-section {
  display: flex;
  margin-right: 1.8rem;
  width: 100%;
  flex-wrap: wrap;
}

.checkbox-section form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.individual-checkboxes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 0.125rem solid var(--blue);
  box-shadow: 0 0 0.2rem 0.1rem var(--grey);
  width: fit-content;
  align-items: flex-start;
  padding: 1rem;
}

.individual-checkboxes {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}









/* Footer */
footer {
  background-color: #101010;
  color: var(--white);
  padding: 3rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-information-section {
  display: flex;
  justify-content: space-between;
}

.footer-legal-section {
  margin-top: 1.8rem;
  border-top: 1px solid var(--white);
  padding-top: 1.8rem;
  text-align: center;
}






footer h3, footer p {
  color: white;
}

/* scroll bar style  */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 50px;
}